<link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png?v=2">
<link rel="manifest" href="assets/images/icons/site.webmanifest?v=2">
<link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg?v=2" color="#d91a1a">
<link rel="shortcut icon" href="assets/images/icons/images/icons.ico?v=2">
<meta name="msapplication-TileColor" content="#d91a1a">
<meta name="theme-color" content="#d91a1a">
