<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=2">
<link rel="manifest" href="/favicon/site.webmanifest?v=2">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=2" color="#d91a1a">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#d91a1a">
<meta name="theme-color" content="#d91a1a">
