<div class="py-12 mx-auto">
	<div class="px-6 py-6 bg-red-700 rounded-lg md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-center">
		<div class="xl:w-0 xl:flex-1">
			<h2 class="text-2xl font-extrabold tracking-tight text-white sm:text-3xl">
				Join the horror.watch club!
			</h2>
			<p class="max-w-3xl mt-3 text-lg leading-6 text-red-200">
				Learn about new movies &amp; features before anyone else.
			</p>
		</div>
		<div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
			<form action="https://dev.us7.list-manage.com/subscribe/post?u=1dab64f3bc7ea74b14b4f3320&amp;id=78f289a8b1" method="post" class="sm:flex" name="mc-embedded-subscribe-form"target="_blank" novalidate>
				<label for="EMAIL" class="sr-only">Email address</label>
				<input type="email" value="" name="EMAIL" class="w-full px-5 py-3 placeholder-gray-500 border-white rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-700 focus:ring-white" placeholder="Enter your email" id="mce-EMAIL" autocomplete="email" required>
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_1dab64f3bc7ea74b14b4f3320_78f289a8b1" tabindex="-1" value="">
				</div>
				<button type="submit" value="Subscribe" name="subscribe" class="flex items-center justify-center w-full px-5 py-3 mt-3 text-base font-medium text-white bg-red-500 border border-transparent rounded-md shadow hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-700 focus:ring-white sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0">
					Notify me
				</button>
			</form>
		</div>
	</div>
</div>
