{{ $rotate := shuffle (slice "hover:rotate-2" "hover:-rotate-2" "hover:rotate-1" "hover:-rotate-1" "hover:rotate-3" "hover:-rotate-3") }}
{{ range first 1 $rotate }}
<div class="{{ . }} transition duration-300 ease-in-out transform border-4 border-black rounded-lg shadow-md md:my-6 hover:scale-110 bg-black">
{{ end }}

	<a href="{{ .linkUrl | absURL }}" title="{{ .title | safeHTML }}">
		<img loading="lazy" class="object-center w-full h-auto" src="{{ .posterUrl | absURL }}" alt="{{ .title | safeHTML }} poster">
		<div class="flex h-20">
			<span class="self-center p-3 mx-auto text-lg text-gray-100">
				{{ .title | safeHTML }}
			</span>
		</div>
	</a>
</div>

