@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vendor/video-js.css';
@import './vendor/video-js.theme.css';

@font-face {
	font-family: 'East Sea Dokdo';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url( '/assets/fonts/east-sea-dokdo-v8-latin-regular.woff2' ) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url( '/assets/fonts/east-sea-dokdo-v8-latin-regular.woff' ) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

h1 {
	font-weight: 100;
	font-size: 8rem;
	margin-top: 0px;
	padding-top: 0.5em;
	letter-spacing: -0.03em;
}

h2 {
	font-size: 3rem;
	font-weight: 200;
}

a {
	color: white;
}

h2 a {
	@apply text-red-600 hover:text-red-800;
	text-decoration: underline;
}

.header {
	@apply p-3 text-center;
}

.header h1 {
	@apply block pt-2 mx-auto my-2 tracking-wide transform text-7xl lg:text-9xl -rotate-1;

	font-family: 'East Sea Dokdo', 'Helvetica Neue', Helvetica, sans-serif;
}

.header h1 a {
	@apply text-red-700;
	text-shadow: 6px 0px rgba( 136, 0, 0, 0.6), -7px 12px 3px rgba( 66, 31, 31, 0.4 );
}

.nav-item {
	@apply inline-flex items-center px-3 py-1 text-lg leading-none text-red-400 transform bg-gray-800 rounded hover:bg-gray-600 hover:scale-110 hover:text-red-200;
}

.main-width {
	@apply max-w-md mx-auto sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl;
}

.play-icon {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 150px;
}

#rating {
	--percent: calc( var(--rating) / 10 * 100% );
	display: inline-block;
}

#rating::before {
	content: '★★★★★';
	letter-spacing: 0.125rem;
	background: linear-gradient( 90deg, #ecc94b var(--percent), #718096 var(--percent) );
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
