<section class="grid grid-cols-1 gap-10 mx-auto my-6 md:grid-cols-2 lg:grid-cols-4">
	{{- partial "component/featured-single" ( dict "context" . "linkUrl" "/movie/frankenstein" "posterUrl" "assets/poster/frankenstein.jpg" "title" "Frankenstein" ) -}}
	{{- partial "component/featured-single" ( dict "context" . "linkUrl" "/movie/reefer-madness" "posterUrl" "assets/poster/reefer-madness.jpg" "title" "Reefer Madness" ) -}}
	{{- partial "component/featured-single" ( dict "context" . "linkUrl" "/movie/house-on-haunted-hill" "posterUrl" "assets/poster/house-on-haunted-hill.jpg" "title" "House on Haunted Hill" ) -}}
	{{- partial "component/featured-single" ( dict "context" . "linkUrl" "/movie/night-of-the-living-dead" "posterUrl" "assets/poster/night-of-the-living-dead.jpg" "title" "Night of the Living Dead" ) -}}
</section>
