<section id="hero" class="my-6">
	<div class="flex flex-col overflow-hidden bg-black border-2 border-black rounded-lg shadow-lg lg:flex-row sm:mx-auto">
		<div class="relative lg:w-1/2">
			<img src="assets/images/cover.jpg" alt="" class="object-none object-center w-full lg:absolute h-80 lg:h-full">
			<svg class="absolute top-0 right-0 hidden h-full text-black lg:inline-block" viewBox="0 0 20 104" fill="currentColor">
				<polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"></polygon>
			</svg>
		</div>
		<div class="p-10">
			<h2 class="text-5xl font-extrabold leading-none">
				<p>Stream horror movies.
				<p>100% free, always.
			</h2>
			<div class="py-10 text-2xl text-gray-200">
				<p>Watch hundreds of public domain horror movies.
				<p>You'll never feel safe again.
			</div>

			{{ partial "component/button-browse-all.html" . }}

		</div>
	</div>
</section>
