<nav class="px-4 pb-6 mx-auto">
	<div class="hidden md:flex">
		<ul class="flex items-center space-x-4 lg:space-x-8">
			{{ partial "header/nav-item" (dict "context" . "link" "/movies" "name" "Browse") }}
			{{ partial "header/nav-item" (dict "context" . "link" "/genres" "name" "Genres") }}
		</ul>
		<div class="mx-6 -mt-6 transition duration-300 ease-in-out transform header lg:mx-10 hover:rotate-3 hover:scale-110">
			<h1><a href="/">horror.watch</a></h1>
		</div>
		<ul class="flex items-center space-x-4 lg:space-x-8">
			{{ partial "header/nav-item" (dict "context" . "link" "#" "name" "About") }}
			{{ partial "header/nav-item" (dict "context" . "link" "#" "name" "Search") }}
		</ul>
	</div>
	<div class="flex justify-center transition duration-300 ease-in-out transform header md:hidden hover:rotate-3 hover:scale-110">
		<h1><a href="/">horror.watch</a></h1>
	</div>
	<div class="flex md:hidden">
		<div>
			<ul class="flex items-center space-x-8">
				{{ partial "header/nav-item" (dict "context" . "link" "/movies" "name" "Browse") }}
				{{ partial "header/nav-item" (dict "context" . "link" "/genres" "name" "Genres") }}
				{{ partial "header/nav-item" (dict "context" . "link" "#" "name" "About") }}
				{{ partial "header/nav-item" (dict "context" . "link" "#" "name" "Search") }}
			</ul>
		</div>
	</div>
</nav>
